/** @format */

.aboutSkill-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin: 0 auto;
  padding: 10px 20px;
  gap: 50px;
}

.aboutSkill-page-content-one h3 {
  text-align: center;
}
.aboutSkill-page-content-one .icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 10px;
}
.aboutSkill-page-content-one .icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  padding: 5px;
}
.aboutSkill-page-content-one .icon-text button {
  background: none;
  color: var(--primary-color);
  border: none;
}
.aboutSkill-page-content-two h3 {
  text-align: center;
}
.aboutSkill-page-content-two button {
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  margin: 0 auto;
  padding: 10px 20px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* media queries */
@media (max-width: 470px) {
  .aboutSkill-page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    align-items: center;
  }

  .aboutSkill-page-content-one .icons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
    margin: auto;
    align-items: center;
  }
}
