/** @format */

.aboutSkill-page {
  /* background-color: rgba(185, 180, 199, 0.2); */
  /* box-shadow: 0 0 5px 0; */
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 10px 20px;

  /* justify-content: space-between;
  gap: 100px; */
}
.aboutSkill-page-content-one {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.aboutSkill-page-content-one h3 {
  text-align: center;
}
.aboutSkill-page-content-one .about-social-btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  /* display: grid;
 
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 3fr)); */
}

.aboutSkill-page-content-one .about-social-btn button {
  /* background-color: var(--primary-color);
  color: #fff; */
  border: none;
  padding: 5px;
  border-radius: 20px;
  width: 30%;
}
.aboutSkill-page-content-one .aboutSkill-socials {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.aboutSkill-page-content-two {
  width: 50%;
}
.aboutSkill-page-content-two h3 {
  text-align: center;
}
.aboutSkill-page-content-two button {
  /* background-color: var(--primary-color);
  color: #fff; */
  border: none;
  padding: 5px;
  height: 50px;
  font-size: 1.2rem;
  /* border-radius: 20px; */
  width: 30%;
}

@media (max-width: 950px) {
  .aboutSkill-page-content-one {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
  }
}
@media (max-width: 650px) {
  .aboutSkill-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .aboutSkill-page-content-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
  }
  .aboutSkill-page-content-one .about-social-btn {
    width: 100%;
  }
}
