/** @format */

.Aboutme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}
.Aboutme .about-me-content {
  gap: 5px;
  width: 70%;
  opacity: 0;
  animation: slideIn 2s forwards;
}
.Aboutme .about-me-pic {
  padding: 5px;
  width: 30%;
  opacity: 0;
  animation: slideIn 1.5s forwards;
}
/* animation */
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.Aboutme .about-me-pic {
  animation: slideInRight 1.5s forwards;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.Aboutme .about-me-pic img {
  border-radius: 25%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
  transform: scale(0.8);
}
.about-me-socials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 4fr));
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  align-items: center;
}

.about-me-socials .social-icons {
  cursor: pointer;
  width: 70px;
  height: 50px;
  margin-bottom: -10px;
}
.about-me-socials a:hover {
  color: var(--secondary-color);
}
/* media queries */
@media (max-width: 1400px) {
  .Aboutme .about-me-content {
    width: 60%;
  }
  .Aboutme .about-me-pic {
    width: 40%;
  }
}
@media (max-width: 1200px) {
  .about-me-socials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
    gap: 50px;
    margin-top: 50px;
    align-items: center;
  }
  .about-me-socials .social-icons {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-bottom: -10px;
  }
}
@media (max-width: 1000px) {
  .Aboutme .about-me-content {
    width: 40%;
  }
  .Aboutme .about-me-pic {
    width: 60%;
  }

  .about-me-socials a {
    display: flex;
    margin: 0 auto;
  }
  .about-me-socials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
    gap: 50px;
    margin-top: 50px;
    align-items: center;
  }
}

@media (max-width: 750px) {
  .Aboutme {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
  }
  .Aboutme .about-me-content {
    gap: 5px;
    width: 100%;
  }
  .Aboutme .about-me-pic {
    width: 100%;
  }
  .Aboutme .about-me-pic img {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .about-me-socials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 4fr));
    gap: 50px;
    margin-top: 50px;
    align-items: center;
  }
}

@media (max-width: 570px) {
  .Aboutme .about-me-content {
    width: 100%;
  }

  .about-me-socials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 4fr));
    gap: 50px;
    margin-top: 50px;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .Aboutme {
    width: 100%;
  }
  .Aboutme .about-me-pic img {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .about-me-socials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 4fr));
    gap: 50px;
    margin-top: 50px;
    align-items: center;
  }
}
