/** @format */

@import url("https://fonts.googleapis.com/css2?family=Recursive&family=Roboto+Mono:wght@100;400&display=swap");

:root {
  --primary-color: #ced4da;

  /* #352f44; */
  /* --secondary-color: #b9b4c7; */
}

body {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-family: "Recursive", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.App {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  color: var(--primary-color);
  background-color: #000000;
  /* background-color: aqua; */
  /* background-color: blue; */
}
.App .page-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 570px) {
  .page-top {
    z-index: 500;
  }
  .page-content {
    z-index: 0;
  }
}
