/** @format */

.contact-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.contact-page h2 {
  text-align: center;
  padding: 10px 0;
}
.contact-page-content {
  display: flex;
  flex-direction: row;
}
.contact-page-content h5 {
  width: 40%;
}
.contact-page-content form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}
.contact-page-content form input {
  width: 90%;
  height: 3rem;
  background-color: #e5e5e5;
  color: #010101;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  padding-left: 10px;
}
.contact-page-content form input::placeholder {
  padding-left: 10px;
  color: #010101;
  font-size: 15px;
}
.contact-page-content form button {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border: none;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: #fff;
}
.contact-page-content form button a {
  color: #010101;
  background-color: var(--primary-color);
  font-weight: 600;
  padding: 10px;
}
/* media queries */
@media (max-width: 720px) {
  .contact-page-content {
    display: flex;
    flex-direction: column;
  }
  .contact-page-content h5 {
    width: 100%;
    text-align: center;
  }
  .contact-page-content form {
    width: 100%;
    align-items: center;
  }
}
