/** @format */

.contact-me {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.form-page {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.form-page p {
  width: 40%;
}
.form-page .for {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-page .for .form_group {
  width: 100%;
  display: flex;
  gap: 20px;
}
/* .form_group {
  display: grid;
  gap: 0.3rem;
}

form {
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
  align-items: end;
  align-content: center;
} */
input {
  border: 2px solid #ecebf3;
  padding: 12px 8px;
  width: 100%;
}
label {
  text-transform: capitalize;
  color: #666;
}
input,
button {
  border-radius: 5px;
}
.btn {
  color: #090817;
  background-color: #dcdbe4;
  padding: 1.3rem;
  font-family: inherit;
  border: none;
  margin-top: 1.3rem;
  font-size: 0.9em;
  width: min-content;
}
h2 {
  text-align: center;
}
