/** @format */

.Work {
  display: flex;
  flex-direction: column;
}
.Work h2 {
  text-align: center;
}
.work-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.work-page h4 {
  text-align: center;
}
.work-page h3 {
  text-decoration: underline;
  text-underline-offset: 0.7rem;
  font-weight: 400;
  text-align: center;
}
.work-page-project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  /* background-color: var(--primary-color);
  color: black; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.work-page-project .work-page-content {
  width: 50%;
  border-radius: 20px;
  padding: 20px;
}
.work-page-project .work-page-content .demo {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  gap: 20px;
  justify-content: space-around;
  cursor: pointer;
}
.demo button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 100px;
  font-weight: 600;
  line-height: 1rem;
}
.work-page-project .work-page-content .work-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 50px;
}
.work-bottom button {
  border: none;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
}
.work-page-project .work-page-img {
  width: 50%;
}

.work-page-project .work-page-img img {
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding: 20px 20px;
  border: 20px;
}

/* media queries */
@media (max-width: 925px) {
  .work-page-project {
    display: flex;
    flex-direction: column;
  }
  .work-page-project .work-page-content {
    width: 80%;
    margin: 0 auto;
  }
  .work-page-project .work-page-img {
    width: 80%;
    margin: 0 auto;
  }
}
